.neuromorphic {
  box-shadow: -5px -5px 10px var(--shadow-light-color),
    5px 5px 10px var(--shadow-dark-color);
  border-radius: 10px;
}

.neuromorphic-inset {
  box-shadow: inset -5px -5px 10px var(--shadow-light-color),
    inset 5px 5px 10px var(--shadow-dark-color);
  border-radius: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app main {
  max-width: 600px;
}

/* Navbar Styling */
nav {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background: var(--accent-color);
  box-shadow: 0px 5px 10px var(--shadow-dark-color);
}

nav header h1 {
  margin-bottom: 0;

  font-size: 24pt;
  color: var(--inverse-primary-color);
}

nav header p {
  margin-bottom: 5px;

  font-size: 12pt;
  color: var(--inverse-primary-color);
  font-style: italic;
}

nav button {
  padding: 5px 10px;
  border-radius: 25px;

  background: var(--primary-color);
  color: var(--inverse-primary-color);
  font-size: 12pt;
}

/* Add Class Section */
.add-class-form {
  padding: 20px;
  margin-bottom: 20px;
}

.add-class-form input {
  padding: 5px 10px;
}

.add-class-form select {
  padding: 5px 10px;
  margin-left: 10px;
}

.add-class-form button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: var(--accent-color);
  color: var(--inverse-primary-color);
}

/* Class Tab Switcher */
.class-tabs {
  padding: 20px;
  margin-bottom: 20px;
}

.class-tabs div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  align-items: center;
}

.class-tabs div div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.class-tabs div div button {
  padding: 5px;
  border-radius: 5px;
  font-size: 10pt;
  width: 100%;
  background: var(--primary-color);
  color: var(--inverse-primary-color);
  transition: all 0.15s ease-out;

  &:hover {
    background: var(--accent-color);
  }
}

.class-tabs div div button.active {
  background-color: var(--accent-color);
}

.class-tabs div div span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.class-tabs div div span button {
  font-size: 8pt;
  font-weight: lighter;
  text-transform: uppercase;
}

/* Table */
.table-container {
  padding: 20px;
  margin-bottom: 20px;
}

.table-container table {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table-container table th {
  padding: 10px;
  font-weight: 500;
}

.table-container table td {
  padding: 0 10px;
  font-size: 10pt;
  font-family: "DM Sans", sans-serif;

  box-shadow: inset -5px -5px 10px var(--shadow-light-color),
    inset 5px 5px 10px var(--shadow-dark-color);
  border-radius: 0px;
}

.table-container button {
  padding: 5px 10px;
  margin: 5px 0;
  margin-right: 5px;
  margin-bottom: 10px;

  background-color: var(--accent-color);
  color: var(--inverse-primary-color);
}

.table-container td button {
  padding: 2px 5px;
  font-size: 8pt;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: underline;
  border-radius: 5px;
  background: transparent;
}

.table-container p {
  padding: 5px 10px;
  margin: 5px 0;
  width: fit-content;
  margin-bottom: 15px;
}

/* Predict Next Grade Section */
.predict-next-grade {
  padding: 20px;
}

.predict-next-grade input {
  padding: 5px 10px;
  margin: 10px;
}

.predict-next-grade select {
  padding: 5px 10px;
  margin: 10px;
}
