@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --background-color: #c1c3c7;
  --shadow-light-color: #d6d6d6;
  --shadow-dark-color: #9398a1;
  --text-color: #181b2a;
  --primary-color: #ffffff;
  --inverse-primary-color: #181b2a;
  --accent-color: #969696;
}

[data-theme="dark"] {
  --background-color: #181b2a;
  --shadow-light-color: #25293b;
  --shadow-dark-color: #0e101a;
  --text-color: #dcdfe4;
  --primary-color: #ffffff;
  --inverse-primary-color: #181b2a;
  --accent-color: #575757;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: var(--text-color);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;

  font-family: "DM Serif Display", serif;
  font-weight: 600;
}
